body {
    margin: 0;
    font-size: 0;
}
.column1 {
    background-color: blue;
    display: inline-block;
    width: 33%;
    height: 100%;
}
.column2 {
    background-color: turquoise;
    display: inline-block;
    width: 33%;
    height: 100%;
}
.column3 {
    background-color: none;
    display: inline-block;
    width: 33%;
    height: 100%;
}
.top {
    background-color: greenyellow;
    height: 80%;
}
.bottom {
    background-color: red;
    height: 20%;
}
